/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1REM === 10PX */
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  padding-top: 4rem;
}

.btn {
  background: var(--clr-primary-5);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.loading {
  text-align: center;
}

.title {
  text-align: center;
  margin-block: 4rem;
}

.title>h1 {
  font-size: 2.5rem;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.card {
  box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.1),
    -.05rem -.05rem .2rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  overflow: hidden;
}

.tour-card {
  width: 90vw;
  max-width: 50rem;
  margin-inline: auto;
  background: #fff;
  margin-bottom: 1.5rem;
}

.img-cont {
  width: 100%;
  height: 40rem;
}

.img-cont>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

.tour-card>div {
  padding: 1.5rem 1rem;
}

.tour-card>button {
  outline: 1px solid #FF8686;
  background: none;
  border: none;
  color: #FF8686;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: .5rem;
  display: block;
  margin-inline: auto;
  transition: 200ms ease-in-out;
  position: relative;
  overflow: hidden;
  font-size: 1.1rem;
}

.tour-card>button::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.1);
  background: #FF8686;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  transition: 200ms ease-in-out;
  opacity: 0;
}

.tour-card>button::before {
  position: absolute;
  content: attr(data-btn);
  transition: 200ms ease-in-out;
  z-index: 1;
  color: #fff;
  opacity: 0;
  font-size: 1.1rem;
}

.tour-card>button:is(:hover, :focus, :active)::after {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
}

.tour-card>button:is(:hover, :focus)::before {
  opacity: 1;
}

.tour h2 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 1rem;
}

.tour p {
  font-size: 1.3rem;
  color: #777;
  font-weight: 500;
  line-height: normal;
}

.tour p>button {
  border: none;
  background: none;
  color: #02BDFF;
}

.ntf {
  text-align: center;
}

.ntf p {
  font-size: 1.6rem;
}

.refresh {
  border: none;
  background: #02BDFF;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
}

@media screen and (min-width:768px) {
  html {
    font-size: 100%;
  }
}